

body {
	font-family: 'Ubuntu', sans-serif;
}

#title a {
	text-decoration: none;
	color: black;
}

#header {
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
	background-color: #c7c7c7;
}

#nav {
	list-style: none;
}
#nav li {
	display: inline;
	padding: 5px 11px 5px 10px;
	/*margin: 0px 14px 0px 0px;
	background: #727272;*/
}

.navlink:link, .navlink:visited {
	text-decoration: none;
	color: #d7d7d7;
	font-weight: bold;
	padding: 5px 11px 5px 10px;
	background: #727272;
}

.navlink:active, .navlink:hover {
	text-decoration: none;
	color: #d7d7d7;
	font-weight: bold;
	padding: 5px 11px 5px 10px;
	background: #595959;
}

.text {
	font-family: 'Ubuntu', sans-serif;
	font-size: large;
}
input.text {
    text-align: center;
}

.submit {
	font-family: 'Ubuntu', sans-serif;
	font-size: x-large;
}

.error {
	color:red;
	font-weight: bold;
}

#leftblock {
	width: 50%;
}

#rightblock {
	width: 50%;
	float: right;
}

#center {
	width:50%;
	margin-left: 25%;
	text-align: center;
}

#footer {
	font-size: 85%;
	color: #3c3c3c;
	border-top: 1px solid #535353;
	padding-top: 3px;
	margin-top: 20px;
}

#footer a {
	color: #626262;
	text-decoration: none;
	font-weight: bold;
}

#title {
	font-size: xx-large;
	font-weight: bold;
	text-decoration: none;
}

.attr {
	float:right;
}